html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: white;
  font-weight: 400;
  line-height: 1.42;
  min-width: 320px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #212121;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea {
  font-family: "Roboto";
  font-weight: 400;
  opacity: 1;
  font-size: 14px;
}

svg {
  display: none;
}

a {
  display: inline-block;
  color: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  /* text-align: center; */
  /* justify-content: center; */
}

.header__container {
  width: 1200px;
}

.header {
  background-color: #fff;
}

.logo {
  display: block;
}

.header__items {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

/* .header__item {
  display: flex;
  padding: 0 -42px;
} */

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 28px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  text-decoration: none;
}

.nav {
  margin-left: 85px;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__link--active {
  color: #2196f3;
  border-bottom: 5px solid #2196f3;
  border-height: 4px;
}

.nav__link:hover,
.nav__link:focus {
  display: flex;
  box-sizing: border-box;
  color: #2196f3;
  border-bottom: 5px solid #2196f3;
  border-radius: 2px;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  text-decoration: none;
}

.contacts__link:hover,
.contacts__link:active {
  color: #2196f3;
}

.contacts {
  margin-left: 175px;
  margin-right: -15px;
  align-items: center;
}

.contacts__list {
  display: flex;
  /* margin-left: 305px; */
}

.contacts__text {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 7px 15px;
}

.contacts__text:hover,
.contacts__text:focus {
  color: #2196f3;
}

.layout__section {
  margin-bottom: 94px;
}

.layout__section-main {
  max-width: 1920px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.container.hero {
  box-sizing: border-box;
  max-width: 1920px;
  width: fit-content;
  margin: 0 -15px;
  /* position: relative; */
  display: block;
  text-align: center;
}

.layout__bcg-hero {
  margin-left: auto;
  margin-right: auto;
}

.layout__hero {
  display: block;
  text-align: center;
}

.layout__main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;

  color: #ffffff;
  background-color: gray;
}

.btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;

  padding: 10px 32px;

  border: 1px solid transparent;
}

.btn__text {
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.layout__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.layout__item + .layout__item {
  margin-left: 30px;
}

.layout__main {
  max-width: 1920px;
  width: 100%;
}

.layout__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  margin-bottom: 10px;

  text-transform: uppercase;

  color: #212121;
}

.layout__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.block__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block__item + .block__item {
  margin-left: 30px;
}

.block__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding: 27px 0;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background-color: #757575;
  width: 370px;
}

.layout__item {
  max-width: 270px;
}

.layout__item + .layout__item {
  margin-left: 30px;
}

.block__title,
.card__title,
.blocks__title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;

  color: #212121;
}

.block__title {
  display: block;
  margin: 0 auto 50px;
}

.layout__section.card {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.card__title {
  margin-bottom: 50px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 0 -15px; */
}

.card__item {
  box-sizing: border-box;
  background: #ffffff;
  max-width: 270px;
  /* margin: 0 15px; */

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.card__item + .card__item {
  margin-left: 30px;
}

.card__item-info {
  padding: 30px 32px 24px;
}

.card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: #212121;

  margin-bottom: 10px;
}

.card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: #757575;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: #ffffff;
}

.contact__link {
  display: block;

  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

.footer__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  /* margin: 0 auto;
  min-width: 1200px; */
}

.footer__items {
  /* display: flex; */
}

.footer__items {
  display: flex;
  margin: 0 -34px;
  padding: 60px 15px;
}

.container-footer {
  /* margin: 0 34px; */
  padding: 0 34px;
}

.footer__subscribe {
  margin-left: 26px;
}

p {
  line-height: 1.2;
}
